# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db

# Build & Deployment
dist/
node_modules/
.github/workflows/deploy.yml.bak
